.menu{
    background-color: #fff;
    width: 120px;

    position: absolute;
    right: 5px;
}
.elem{
    text-align: center;
    outline: 1px solid #666;
    cursor: pointer;
    margin: 5px;
}
.active{
    background-color: lawngreen;
}
